/* Root variables */
:root {
  --full-black: #000000; /* Black colour */
  --full-white: #FFFFFF; /* White colour */
  --body-hyperlink-color: #005ba6; /* Link colour */
  --btn-active-color: #0079db; /* Button active colour */
  --btn-hover-color: #0079db; /* Button hover colour */
  --ig-header-container-color: #f5f5f5; /* Header background colour */
  --navbar-background-color: #005ba6; /* Navbar background colour */
  --publish-box-bg-color: gold; /* Version box background colour */
  --publish-box-border: maroon; /* Version box border colour */
  --publish-box-past-bg-color: #ffaaaa; /* Version box past background colour */
  --footer-background-color: #005ba6; /* Footer background colour */
  --footer-bg-color: #f203ff; /* Footer background colour */
  --footer-hyperlink-text-color: #b8dcf9; /* Footer links */
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  margin: 1em 0 0.6em 0;
}

/* Heading prefixes */
.segment h2:before,
.segment h3:before,
.segment h4:before,
.segment h5:before,
.segment h6:before {
  color: #666666;
}

/* Segment container */
.segment > .container {
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
}

/* Header segment container */
#segment-header > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Crest */
#family-nav {
  color: var(--full-black);
  margin-top: 0;
  margin-bottom: 0;
}

/* Crest logo */
#family-logo {
  float: none;
  margin: 30px 0 30px 0;
  margin-right: 0;
  display: block;
}

/* Site heading */
#ig-status {
  line-height: 1.5;
  margin: auto 0 25px 0;
  color: var(--full-black);
  text-align: center;
  flex: 1 1 auto;
  padding: 0 20px;
  height: auto;
}

/* Site heading paragraph */
#ig-status p {
  padding-bottom: 0;
  margin: 0;
  line-height: inherit;
}

/* Site heading paragraph span */
#ig-status p span {
  display: block;
}

/* Site heading paragraph span image */
#ig-status p span:last-child img {
  position: relative;
  top: -1px;
  left: 5px;
}

/* Navbar */
.navbar-inverse {
  background-color: var(--navbar-background-color);
}

/* Navbar item */
.navbar-inverse .navbar-nav > li > a {
  color:  var(--full-white);
}

/* Navbar item hover */
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: var(--btn-hover-color);
}

/* Dropdown item hover */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: var(--btn-hover-color);
  background-image: none;
  filter: none;
}

/* Navbar item open */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: var(--btn-active-color);
}

/* Dropdown item active */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: var(--btn-active-color);
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
}

.navbar-inverse li a[href^="http://"]:not([no-external^="true"]):after,
.navbar-inverse li a[href^="https://"]:not([href^="https://build.fhir.org"]):not([no-external^="true"]):after {
  filter: contrast(2) brightness(1.5) saturate(0.25);
}

/* Navbar stripe */
#stripe {
  background: var(--navbar-background-color);
}

/* Breadcrumb delimiter */
.breadcrumb > li + li:before {
  padding: 0 5px 0 10px;
  color: #666666;
}

/* Content inner wrapper */
#content > .inner-wrapper,
.container > .row > .inner-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Version box link */
#publish-box a {
  color: var(--body-hyperlink-color);
}

/* Standard publish box - see https://hl7.org/fhir/R5/ */
#publish-box {
  padding: 5px;
  background-color: var(--publish-box-bg-color);
  border: 1px solid var(--publish-box-border);
}

/* Standard past publish box - see https://hl7.org/fhir/R4/ */
#publish-box-past {
  padding: 5px;
  background-color: var(--publish-box-past-bg-color);
  border: 1px solid var(--publish-box-border);
}

/* Body link */
#segment-content a {
  color: var(--body-hyperlink-color);
}

/* Copy button */
.copy-text .btn-copy {
  visibility: visible;
}

/* Table heading number */
.self-link-parent span {
  /* For contrast */
  color: var(--full-black) !important;
}

/* Footer segment */
#segment-footer {
  background-color: var(--footer-bg-color);
}

/* Footer segment container */
#segment-footer > .container {
  background-color: var(--footer-background-color);
}

/* Footer segment container inner wrapper */
#segment-footer > .container .inner-wrapper {
  padding: 25px 0;
}

/* CSS for Developer Portal context */

.dev-portal * {
  font-family: Inter, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif;
}

.dev-portal h1,
.dev-portal h2,
.dev-portal h3,
.dev-portal h4,
.dev-portal h5,
.dev-portal h6 {
  font-weight: 500;
}

.dev-portal h1 {
  font-size: 2rem;
}

.dev-portal h2 {
  font-size: 1.75rem;
}

.dev-portal h3 {
  font-size: 1.5rem;
}

.dev-portal h4 {
  font-size: 1.25rem;
}

.dev-portal h5 {
  font-size: 1rem;
}

.dev-portal h6 {
  font-size: 1rem;
}

.dev-portal .section-inner {
  padding: 0 1.25rem;
}

.dev-portal .section-container {
  width: 100%;
  margin: 0 auto;
}

@media(min-width: 700px) {
  .dev-portal .section-container {
    max-width: 660px;
  }
}

@media(min-width: 1040px) {
  .dev-portal .section-container {
    max-width: 1000px;
  }
}

@media(min-width: 1380px) {
  .dev-portal .section-container {
    max-width: 1340px;
  }
}


#dev-portal-banner {
  background-color: #212529;
}

.dev-portal #banner-inner {
  background-color: rgba(0, 0, 0, 0);
  background-image: radial-gradient(rgba(37, 171, 224, 0.9), rgba(13, 18, 31, 0));
  background-size: 130% 220%;
}

.dev-portal #banner-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  padding: 1.25rem 0 1.5rem 0;
}

@media(min-width: 700px) {
  .dev-portal #banner-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.dev-portal #brand-banner {
  padding: 0 1.5rem 0 0;
}

.dev-portal #logo {
  padding-bottom: 0.75rem;
}

.dev-portal #sitename {
  padding-bottom: 0.75rem;
}

@media(min-width: 700px) {
  .dev-portal #sitename {
    padding-bottom: 0;
  }
}

.dev-portal #sitename a {
  text-decoration: none;
}

.dev-portal #sitename a h1 {
  color: #fff;
  margin: 0;
}

.dev-portal #subtitle {
  color: #fff;
  padding: 0.75rem 0 0 0;
}

.dev-portal #menu-banner ul {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.dev-portal #menu-banner li {
  list-style: none;
  text-wrap: nowrap;
  padding: 0.25rem 0;
}

@media(min-width: 1040px) {
  .dev-portal #menu-banner ul {
    flex-direction: row;
  }

  .dev-portal #menu-banner li {
    padding: 0 1rem;
  }
}

.dev-portal #menu-banner a {
  color: #fff;
  text-decoration: none;
}

#dev-portal-brand-ribbon {
  height: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#brand-ribbon-band-blue-dark {
  background-color: #1f4388;
  width: 25%;
}

#brand-ribbon-band-blue-light {
  background-color: #33a3dc;
  width: 25%;
}

#brand-ribbon-band-orange {
  background-color: #ef4123;
  width: 7.5%;
}

#brand-ribbon-band-red {
  background-color: #b10f1f;
  width: 7.5%;
}

#brand-ribbon-band-yellow {
  background-color: #faa61a;
  width: 35%;
}

#dev-portal-footer {
  background-color: rgb(33, 37, 41);
  color: #fff;
}

.dev-portal #brand-footer {
  padding: 2rem 0;
}

.dev-portal #footer-copyright {
  padding: 0 0 2rem 0;
}

.dev-portal #footer-acknowledgement {
  padding: 0 0 2rem 0;
}

.dev-portal #menu-footer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dev-portal #menu-footer ul {
  padding-left: 0;
  margin: 0 0 2rem 0;
}

.dev-portal #menu-footer>div {
  width: 100%
}

@media(min-width: 480px) {
  .dev-portal #menu-footer>div {
    width: calc(50% - 2rem);
    margin: 0 2rem 0 0;
  }
}

@media(min-width: 760px) {
  .dev-portal #menu-footer>div {
    width: calc(25% - 2rem);
  }
}

.dev-portal #menu-footer li {
  list-style: none;
  padding: 0.25rem 0;
  color: #999;
}

.dev-portal #menu-footer a {
  text-decoration: none;
  color: #fff;
}
