/* colour variables */
/* NOTE - the following colours have not yet been ratified by the ADHA Comms Digital Team */
:root {
  --footer-hyperlink-text-color: #F6F9C8; /* the colour of the hyperlinks in the footer */
  --footer-background-color: #707070; /* the colour of the footer background */
  --navbar-background-color: #1E6DB6; /* the colour of the background of the navigation bar */
  --full-black: #000000; /* full black for fonts etc*/
  --full-white: #FFFFFF; /* full white for navigation bar fonts */
  --body-hyperlink-color: #005ba6; /* the colour of hyperlinks */
  --canonical-table-background-color: #ffffe6; /* the colour of the background of the canonical table */
}

/* the colour of the top navigation bar */
.navbar-inverse {
  background-color: var(--navbar-background-color);
}

/* the 'on-hover' colour of the navigation bar menu headings */
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: var(--full-black);
}

/* the thin bar across the page in line with the top of the navigation bar */
#stripe {
  background: var(--navbar-background-color);
}

/* the placement of the 'family-nav' container (that contains the logo) */
#family-nav {
  line-height: 70px;
  float: left;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #808080;
}

/* the placement of the ADHA logo within the 'family-nav' container */
#family-logo {
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-right: 40px;
  display: block;
}

/* the styling of the IG title */
#ig-status {
  line-height: 70px;
  margin-top: 40px;
  margin-left: 250px;
  color: var(--full-black);
  text-align: center;
  height: 50px;
}

/* the font colour of the nav bar headings */
.navbar-inverse .navbar-nav > li > a {
  color:  var(--full-white);
}

/* the colour of the hyperlinks in the main body of text */
/* includes the hyperlinks in the yellow contents box */
#segment-content a {
  color: var(--body-hyperlink-color);
}

/* the colour of the hyperlinks in the yellow publish box */
#publish-box a {
  color: var(--body-hyperlink-color);
}

/* the colour of the footer background */
#segment-footer > .container {
  background-color: var(--footer-background-color);
}

/* render the copy to clipboard buttons visible */
.copy-text .btn-copy {
  visibility: visible;
}

/* background colour of canonical table at the top of resources */
table.colsd td {
	background-color: var(--canonical-table-background-color);
}