/* Root variables */
:root {
  --full-black: #000000; /* Black colour */
  --full-white: #FFFFFF; /* White colour */
  --body-hyperlink-color: #005ba6; /* Link colour */
  --btn-active-color: #0079db; /* Button active colour */
  --btn-hover-color: #0079db; /* Button hover colour */
  --ig-header-container-color: #f5f5f5; /* Header background colour */
  --navbar-background-color: #005ba6; /* Navbar background colour */
  --publish-box-bg-color: gold; /* Version box background colour */
  --publish-box-border: maroon; /* Version box border colour */
  --publish-box-past-bg-color: #ffaaaa; /* Version box past background colour */
  --footer-background-color: #005ba6; /* Footer background colour */
  --footer-bg-color: #005ba6; /* Footer background colour */
  --footer-hyperlink-text-color: #b8dcf9; /* Footer links */
}

/* Headings */
h1, h2, h3, h4, h5, h6, .title {
  margin: 1em 0 0.6em 0;
}

/* Segment container */
.segment > .container {
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
}

/* Header segment container */
#segment-header > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


/* Crest */
#family-nav {
  color: var(--full-black);
  margin-top: 0;
  margin-bottom: 0;
}

/* Crest logo */
#family-logo {
  float: none;
  margin: 30px 0 30px 0;
  margin-right: 0;
  display: block;
}

/* Site heading */
#ig-status {
  line-height: 1.5;
  margin: auto 0 25px 0;
  color: var(--full-black);
  text-align: center;
  flex: 1 1 auto;
  padding: 0 20px;
  height: auto;
}

/* Site heading paragraph */
#ig-status p {
  padding-bottom: 0;
  margin: 0;
  line-height: inherit;
}

/* Site heading paragraph span */
#ig-status p span {
  display: block;
}

/* Site heading paragraph span image */
#ig-status p span:last-child img {
  position: relative;
  top: -1px;
  left: 5px;
}

/* Navbar */
.navbar-inverse {
  background-color: var(--navbar-background-color);
}

/* Navbar item */
.navbar-inverse .navbar-nav > li > a {
  color:  var(--full-white);
}

/* Navbar item hover */
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: var(--btn-hover-color);
}

/* Dropdown item hover */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: var(--btn-hover-color);
  background-image: none;
  filter: none;
}

/* Navbar item open */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: var(--btn-active-color);
}

/* Dropdown item active */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: var(--btn-active-color);
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
}

/* Navbar stripe */
#stripe {
  background: var(--navbar-background-color);
}

/* Breadcrumb delimiter */
.breadcrumb > li + li:before {
  padding: 0 5px 0 10px;
}

/* Content inner wrapper */
#content > .inner-wrapper, .container > .row > .inner-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Version box link */
#publish-box a {
  color: var(--body-hyperlink-color);
}

/* Standard publish box - see https://hl7.org/fhir/R5/ */
#publish-box {
  padding: 5px;
  background-color: var(--publish-box-bg-color);
  border: 1px solid var(--publish-box-border);
}

/* Standard past publish box - see https://hl7.org/fhir/R4/ */
#publish-box-past {
  padding: 5px;
  background-color: var(--publish-box-past-bg-color);
  border: 1px solid var(--publish-box-border);
}

/* Body link */
#segment-content a {
  color: var(--body-hyperlink-color);
}

/* Copy button */
.copy-text .btn-copy {
  visibility: visible;
}

/* Table heading number */
.self-link-parent span {
  /* For contrast */
  color: var(--full-black) !important;
}

/* Footer segment */
#segment-footer {
  background-color: var(--footer-bg-color);
}

/* Footer segment container */
#segment-footer > .container {
  background-color: var(--footer-background-color);
}

/* Footer segment container inner wrapper */
#segment-footer > .container .inner-wrapper {
  padding: 20px 0;
}
