 | {% include version_history_link.md %}
 | {% include report_issue_link.md %}

<p class="footer-hide">
    <span style="white-space: pre-line">
    Publisher:</span>
    <a style="color: var(--footer-hyperlink-text-color)" href="https://www.digitalhealth.gov.au">Australian Digital Health Agency</a> 
    ABN 84 425 496 912, Level 25, 175 Liverpool Street, Sydney, NSW 2000<br />
    Telephone 1300 901 001 or email <a style="color: var(--footer-hyperlink-text-color)" href="mailto:help@digitalhealth.gov.au">help@digitalhealth.gov.au</a><br />
    <a style="color: var(--footer-hyperlink-text-color)" href="https://www.digitalhealth.gov.au">https://www.digitalhealth.gov.au</a><br />
    <a style="color: var(--footer-hyperlink-text-color)" href="https://www.digitalhealth.gov.au/about-us/policies-privacy-and-reporting/privacy-policy">Privacy policy</a> | 
    <a style="color: var(--footer-hyperlink-text-color)" href="https://www.digitalhealth.gov.au/about-us/policies-privacy-and-reporting/terms-of-use">Terms of Use</a>
</p>