<div id="dev-portal-logo">
  <a no-external="true" href="https://implementer.digitalhealth.gov.au/">
    <img alt="Australian Digital Health Agency Implementer Hub" src="{{site.data.info.assets}}assets/images/adha-logo-light.svg" width="275px" />
  </a>
</div>
<div id="dev-portal-sitename">
  <div id="ig-status">
    <h1>{{site.data.fhir.ig.title | escape_once}}</h1>
    <div id="subtitle">

      <!-- ADHA: Override base template subtitle behaviour: June 2026 
     - When releaselabel is blank, show only ig.version (suppresses the base template's ig.status fallback)
     - When releaselabel is set, show ig.version followed by releaselabel, separated by ' - ' -->
      {{ site.data.fhir.ig.version }}{{ site.data.info.releaselabel | prepend: ' - ' if site.data.info.releaselabel != blank }}
      <!-- End ADHA override -->

      {% assign igId = site.data.fhir.ig.id | prepend: "ImplementationGuide/" %}
      {% for jurisdiction in site.data.resources[igId].jurisdictions %}
        {% if jurisdiction.flag %}
          <img alt="{{jurisdiction.name}} flag" src="assets/images/{{jurisdiction.flag}}.svg" height="16" title="{{jurisdiction.name}}"/>
        {% elsif jurisdiction.code %}
          <span title="{{jurisdiction.name}}">{{jurisdiction.code}}</span>
        {% else %}
          {{jurisdiction.name}}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
