<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <title>{{site.data.pages[page.path].title | escape_once}} - {{site.data.fhir.ig.title | escape_once}} v{{site.data.fhir.ig.version | escape_once}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="http://hl7.org/fhir"/>

    <!-- CSS -->
    <link href="{{site.data.info.assets}}fhir.css" rel="stylesheet"/>
    <link href="{{site.data.info.assets}}assets/css/bootstrap-fhir.css" rel="stylesheet"/>
    <link href="{{site.data.info.assets}}assets/css/project.css" rel="stylesheet"/>
    <link href="{{site.data.info.assets}}assets/css/pygments-manni.css" rel="stylesheet"/>
    <link href="{{site.data.info.assets}}assets/css/jquery-ui.css" rel="stylesheet"/>
    <link href="{{site.data.info.assets}}assets/css/prism.css" rel="stylesheet" />
    <link href="{{site.data.info.assets}}assets/css/ADHA.css" rel="stylesheet"/>

    {% include fragment-css.html %}

    {% assign label = {{site.data.pages[page.path].label}} | split: '.0' %}
    <style type="text/css">
      h2 {
        --heading-prefix: "{{site.data.info.headingOffset}}{{label}}";
      }
      h3,h4,h5,h6 {
        --heading-prefix: "{{site.data.info.headingOffset}}{{site.data.pages[page.path].label}}";
      }
    </style>

    <!-- Favicons -->
    <link rel="fhir-logo" sizes="144x144" href="{{site.data.info.assets}}assets/ico/icon-fhir-144.png"/>
    <link rel="fhir-logo" sizes="114x114" href="{{site.data.info.assets}}assets/ico/icon-fhir-114.png"/>
    <link rel="fhir-logo" sizes="72x72" href="{{site.data.info.assets}}assets/ico/icon-fhir-72.png"/>
    <link rel="fhir-logo" href="{{site.data.info.assets}}assets/ico/icon-fhir-57.png"/>
    <link rel="shortcut icon" href="{{site.data.info.assets}}assets/ico/favicon.png"/>
  </head>
  <body onload="document.body.style.opacity='1'">
    <div id="dev-portal-banner" class="dev-portal dev-portal-embed-hide">  <!-- dev-portal-banner -->
      <div id="banner-inner" class="section-inner">  <!-- banner-inner -->
        <div id="banner-container" class="section-container">  <!-- banner-container -->
          <div id="brand-banner"> <!-- brand-banner -->
            {% include fragment-header.html %}
          </div>  <!-- /brand-banner -->
          <div id="menu-banner"> <!-- menu-banner -->
            <ul>
              <li>
                <a href="https://developer.digitalhealth.gov.au/fhir" title="View our other FHIR IGs" target="_blank">FHIR IGs</a>
              </li>
              <li>
                <a href="https://developer.digitalhealth.gov.au" title="View our Developer Portal site" target="_blank">Developer Portal</a>
              </li>
              <li>
                <a href="https://www.digitalhealth.gov.au" title="View our Agency site" target="_blank">Agency site</a>
              </li>
            </ul>
          </div>  <!-- /menu-banner -->
        </div>  <!-- /banner-container -->
      </div>  <!-- /banner-inner -->
    </div>  <!-- /dev-portal-banner -->
    <div id="segment-navbar" class="segment">  <!-- segment-navbar -->
      <div class="container">  <!-- container -->
        <nav class="navbar navbar-inverse">  <!-- navbar -->
          <div class="container">  <!-- container -->
            <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button">
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
            </button>
            <a class="navbar-brand hidden" href="{{site.data.fhir.path}}index.html">FHIR</a>
            <div class="nav-collapse collapse navbar-inverse-collapse">  <!-- nav-collapse -->
              {% include menu.xml %}
            </div>  <!-- /nav-collapse -->
          </div>  <!-- /container -->
        </nav>  <!-- /navbar -->
      </div>  <!-- /container -->
    </div>  <!-- /segment-navbar -->
    {% assign shownav = site.data.info.shownav | downcase | slice: 0 %}
    <div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
      <div class="container">  <!-- container -->
        <ul class="breadcrumb">
          {{site.data.pages[page.path].breadcrumb}}
          {% if shownav == 'y' %}<span style="float:right;">{% if site.data.pages[page.path].previous %}<a href="{{site.data.pages[page.path].previous}}">&lt;prev</a> | {% endif %}<a href="#bottom">bottom</a>{% if site.data.pages[page.path].next %} | <a href="{{site.data.pages[page.path].next}}">next&gt;</a>{% endif %}</span>{% endif %}
        </ul>
      </div>  <!-- /container -->
    </div>  <!-- /segment-breadcrumb -->
    <a name="top"> </a>
    <div id="segment-content" class="segment">  <!-- segment-content -->
      <div class="container">  <!-- container -->
        <div class="row">  <!-- row -->
          <div class="inner-wrapper">  <!-- inner-wrapper -->